{% extends "layout.html" %}
{% block title %}BAS:IT - Log in{% endblock %}
{% block body %}
<h1><label>Sign In</label></h1>
<div class="align">
<form action="{{url_for('login') }}" method="post" class="form-horizontal">
<fieldset>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">E-mail</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder="E-mail" class="form-control input-md" required="">
  <span class="help-block">Insert your e-mail</span>  
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required="">
    <span class="help-block">Insert your password</span>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="signup">Sign In</label>
  <div class="col-md-4">
    <button id="signup" name="signup" class="btn btn-success">Sign In</button>
  </div>
</div>

</fieldset>
</form>
</div>
{% endblock %}