{% extends "layout.html" %}
{% block title %}Bas:IT{% endblock %}
{% block body %}
<center><img src="{{ url_for('static', filename='logo.ico') }}"></center>
<h1>About Us</h1>
<div class="content">
We are 16/17 year-old students, George Sarji, Uria Cohen, Leen Hassan, Adi Bishara, Liraz Shachar, that came up with the idea Basi:it. A non-profit startup, that is willing to teach people few parts of technology that are needed in our daily basis. We are willing to help people to be more accessible to technology. And indirectly we hope that our multilingual website that is going to help you to learn these parts of technology that you didn't know how to use before, will tackle the problem of unemployment in the future.
</div>
{% endblock %}
