{% extends "layout.html" %}
{% block title %}Bas:IT - Sign Up{% endblock %}
{% block body %}
<div class="container">
<h1><label>Sign Up</label></h1>
		<form action="{{ url_for('signup') }}" method="post" class="form-horizontal">
			<fieldset>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">E-mail</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder="E-mail" class="form-control input-md" required="">
  <span class="help-block">Insert your e-mail</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Name</label>  
  <div class="col-md-4">
  <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">
  <span class="help-block">Insert your full name</span>  
  </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="gender">Gender</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="gender-0">
      <input type="radio" name="gender" id="gender-0" value="Male" checked="checked">
      Male
    </label> 
    <label class="radio-inline" for="gender-1">
      <input type="radio" name="gender" id="gender-1" value="Female">
      Female
    </label>
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required="">
    <span class="help-block">Insert your password</span>
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="confpassword">Confirm Password</label>
  <div class="col-md-4">
    <input id="confpassword" name="confpassword" type="password" placeholder="Confirm Password" class="form-control input-md" required="">
    <span class="help-block">Confirm your password</span>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="dob">Date of Birth</label>  
  <div class="col-md-4">
  <input id="dob" name="dob" type="date" placeholder="Date of Birth" class="form-control input-md" required="">
  <span class="help-block">Insert your date of birth</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="country">Country</label>  
  <div class="col-md-4">
  <input id="country" name="country" type="text" placeholder="Country" class="form-control input-md" required="">
  <span class="help-block">Insert your country</span>  
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="signup">Sign Up</label>
  <div class="col-md-4">
    <button id="signup" name="signup" class="btn btn-success">Sign Up</button>
  </div>
</div>

</fieldset>
		</form>

</div>
{% endblock %}
